# Debug on

services:
- docker

script:
  - $TRAVIS_BUILD_DIR/travis/install_gcloud.sh
  - $TRAVIS_BUILD_DIR/travis/build_rpm.sh "./package/slicebuild.sh iupui_npad"
    &> build.log || (cat build.log && false)

deploy:
 # Sandbox - unreviewed, untagged, deploy to gs://legacy-rpms-mlab-sandbox
 - provider: script
   script: $TRAVIS_BUILD_DIR/travis/deploy_gcs.sh
       SERVICE_ACCOUNT_mlab_sandbox
       $TRAVIS_BUILD_DIR/build/slicebase-i386/i686/iupui_npad-*.rpm
       gs://legacy-rpms-mlab-sandbox/slicebase-i386/i686/
   on:
     repo: m-lab/npad-support
     all_branches: true
     condition: $TRAVIS_BRANCH == sandbox-* && $TRAVIS_EVENT_TYPE == push
   skip_cleanup: true

 # STAGING - reviewed, untagged, deploy to gs://legacy-rpms-mlab-staging
 - provider: script
   script: $TRAVIS_BUILD_DIR/travis/deploy_gcs.sh
       SERVICE_ACCOUNT_mlab_staging
       $TRAVIS_BUILD_DIR/build/slicebase-i386/i686/iupui_npad-*.rpm
       gs://legacy-rpms-mlab-staging/slicebase-i386/i686/
   on:
     repo: m-lab/npad-support
     all_branches: true
     condition: $TRAVIS_BRANCH == master && $TRAVIS_EVENT_TYPE == push
   skip_cleanup: true

